<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Download CSC Course Materials for FREE!">
    <title>{% block title %} {%endblock%} | CiStash </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='/images/folder-tree-solid.svg')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{url_for('static', filename='/css/stylesheet.css')}}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/lumen/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/lumen/bootstrap.min.css" integrity="sha256-sbMLJcN5yZVmLCbHZ/pGf9hLFtXD7GvBJ8/bvO+OF3M=" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/solar/bootstrap.min.css" integrity="sha256-z5fuiAzc7SZtuOGmQIsfKM4ezVpQZDggT61qnxPPUuo=" crossorigin="anonymous"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Fredoka+One&family=Montserrat:wght@600&family=Poppins:wght@400;500&family=Roboto&family=Varela+Round&family=Work+Sans:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script src="https://kit.fontawesome.com/868c606ea8.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100 body-text">
    {% include 'include/_navbar.html' %}
    <!--  -->
    {% include 'include/_message.html' %}
    <!--  -->
    {% block body %} {% endblock %}
    <!--  -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='assets/index.js')}}"></script>
</body>
{% include 'include/_footer.html' %}

</html>