{% extends '_layout.html' %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-lg-4 pt-md-3 pt-sm-4">
    <div class="p-5 mb-4 bg-light border-secondary rounded-3 mb-lg-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5">
                <img class="img-fluid mt-sm-4" src="{{url_for('static', filename='/images/folder.png')}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8 mt-2 col-sm-7 pt-3 fs-4">
                <h1 class="text-align-center">Download CSC course materials for <span class="fw-3">FREE!</span> </h1>
                <p class="lh-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quibusdam cumque id ipsam tempora quae dolorum officiis accusamus pariatur ullam minima et</p>
                <button class="btn btn-lg btn-success px-3">Get started</button>
            </div>
        </div>
    </div>
    <div class="container" id="levels">
        <div class="row">
            <div class="w-75 mx-auto">
                <table class="table text-center table-bordered table-light table-hover table-striped">
                    <thead></thead>
                    <tbody class="lead nav-text">
                        {% for level in levels %}
                        <tr>
                            <td>
                                <a href="{{url_for('home_bp.index')}}">
                                    {{level.name}}
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
{% endblock %}