{% extends '_layout.html' %}
<!--  -->
{% block title %}Home{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-lg-4 pt-md-3 pt-sm-4 mt-4">
    <div class="p-5 mb-4 bg-dark bg-gradient border-secondary rounded-3 mb-lg-5" id="home-innercontainer">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5">
                <img class="img-fluid mt-sm-4 folder-img" src="{{url_for('static', filename='/images/folder.png')}}" alt="Folder image">
            </div>
            <div class="col-lg-7 col-md-8 mt-2 col-sm-7 pt-3 fs-4" id="home-jumbotron">
                <h1 class="text-align-center text-light">Download CSC course materials for <span class="fw-3">FREE!</span> </h1>
                <p class="text-light lh-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quibusdam cumque id ipsam tempora quae dolorum officiis accusamus pariatur ullam minima et</p>
                <button class="btn btn-lg btn-primary px-3"><i class="fa-solid fa-rocket fa-beat"></i>  Get started</button>
            </div>
        </div>
    </div>
    <div class="container" id="levels">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4">
                <table class="table text-center table-bordered table-hover table-striped level-table">
                    <thead></thead>
                    <tbody class="lead nav-text">
                        {% for level in lvl_mapping.items() %}
                        <tr>
                            <td>
                                <a href="{{url_for('home_bp.level_page', level_id=level[1][0])}}" class="text-decoration-underline text-primary fw-bolder">
                                    {{level[1]}}
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <img src="{{url_for('static', filename='/images/download.png')}}" alt="Person downloading" class="img-fluid table-img">
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    function image_changer(media_query) {
        imageElem = document.querySelector(".folder-img");
        if (media_query.matches) {
            imageElem.src = "{{url_for('static', filename='images/download.png')}}"
        } else {
            imageElem.src = "{{url_for('static', filename='images/folder.png')}}"
        }
    }

    const mq = window.matchMedia("(max-width: 575px)");
    mq.addListener(image_changer);
    image_changer(mq);
</script>
{% endblock %}