{% extends '_layout.html' %}
<!--  -->
{% block title %}Moderator login{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-9 col-lg-6 bg-primary bg-gradient rounded m-auto">
            <h4 class="text-center text-light pt-3"><i class="fa-solid fa-right-to-bracket"></i> Login</h4>
            <form action="{{url_for('auth_bp.login')}}" method="post" class="form m-4 w-85">
                <input type="hidden" name="csrf-token" value="{{csrf_token()}}">
                <div class="p-auto">
                    <div class="mb-3 align-content-center">
                        <label class="form-label text-light" for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="example@mail.com">
                    </div>
                    <div class="mb-3 align-content-center" style="position: relative;">
                        <label class="form-label text-light" for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                        <i class="fa-solid fa-lg fa-eye" id="eye-icon" style="top: 3.1rem;"></i>
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-lg btn-success mt-2" type="submit" formaction="{{url_for('auth_bp.login')}}"><i class="fa-solid fa-door-open"></i> Login</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
<script src="{{url_for('static', filename='assets/auth-handler.js')}}"></script>
{% endblock %}