{% extends '_layout.html' %}
<!--  -->
{% block title %}Sign Up{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-9 col-lg-6 bg-primary bg-gradient rounded m-auto">
            <h4 class="text-center text-light pt-3"><i class="fa-solid fa-user-plus"></i> Register</h4>
            <form action="{{url_for('auth_bp.register')}}" method="post" class="m-4 w-85">
                {{ form.csrf_token }}
                <div class="form-floating mb-3">
                    {{ form.username }}
                    <!--  -->
                    {{form.username.label}}
                    <!--  -->
                    {% for error in form.username.errors %}
                    <small class="form-text text-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.email }}
                    <!--  -->
                    {{form.email.label}}
                    <!--  -->
                    {% for error in form.email.errors %}
                    <small class="form-text text-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.password }}
                    <i class="fa-solid fa-lg fa-eye" id="eye-icon"></i>
                    <!--  -->
                    {{form.password.label}}
                    <!--  -->
                    {% for error in form.password.errors %}
                    <small class="form-text"><i class="fa-solid fa-circle-exclamation"></i> {{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div>
                    {{ form.confirm }}
                    <!--  -->
                    {% for error in form.confirm.errors %}
                    <small class="form-text">{{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="mb-3 text-center">
                    <button class="btn btn-lg btn-success mt-3" type="submit"><i class="fa-solid fa-circle-user fa-flip" style="--fa-animation-duration: 5s;"></i> Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='assets/auth-handler.js')}}"></script>
{% endblock %}