{% extends '_layout.html' %}
<!--  -->
{% block title %}Admin{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6 bg-dark rounded m-auto">
            <h4 class="text-center text-light pt-3"><i class="fa-solid fa-user-plus"></i> Register</h4>
            <form action="{{url_for('auth_bp.register')}}" method="post" class="m-4 w-85">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.username }}
                    <!--  -->
                    {% for error in form.username.errors %}
                    <small class="form-text"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.email }}
                    <!--  -->
                    {% for error in form.email.errors %}
                    <small class="form-text"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.password }}
                    <!--  -->
                    {% for error in form.password.errors %}
                    <small class="form-text">{{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div>
                    {{ form.confirm }}
                    <!--  -->
                    {% for error in form.confirm.errors %}
                    <small class="form-text">{{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="mb-3 text-center">
                    <input type="submit" value="Sign Up" class="btn btn-success mt-3">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}