{% extends '_layout.html' %}
<!--  -->
{% block title %}{{search_query}} - search results{% endblock %}
<!--  -->
{% block body %}
<div class="container pt-lg-4 pt-md-3 pt-sm-4 mt-4">
    <h4 class="border-bottom pb-3"> You searched for: <em><mark>{{search_query}}</mark></em></h4>
    <!--  -->
    {% if is_empty %}
    <div class="row pt-3 mt-5 mx-5">
        <div class="col-12 col-lg-4 col-md-4 left-pane">
            <img class="img-fluid mx-auto pb-5 err-img" src="{{url_for('static', filename='/images/no-results.webp')}}" alt="Search not found image">
        </div>
        <div class="col-12 col-lg-8 col-md-8 right-pane">
            <h2 class="mb-3">No results found</h2>
            <p>
                No results found. Please try a different search term.
            </p>
        </div>
    </div>
    {% else %}
    <!--  -->
    <p class=""><em>{{result_count}}</em> search results.</p>
    <section class="bg-light">
        <ul class="nav nav-tabs nav-fill mt-5 mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#courses" aria-selected="true" role="tab"><i class="fa-solid fa-folder text-secondary"></i> Courses</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#documents" aria-selected="false" role="tab" tabindex="-1"><i class="fa-solid fa-file-lines fa-lg"></i> Documents</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="courses" role="tabpanel">
                {% for course in hits %}
                <div class="coursebox container bg-secondary my-2 border-bottom">
                    <a href="{{url_for('resource_bp.get_course', course_id=course.id_)}}" class="text-decoration-none">
                        <h3>
                            <i class="fa-solid fa-folder"></i> <span class="text-decoration-underline ps-2">{{course.course_code}}</span> - {{course.course_title}}
                        </h3>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if no_docs_match %}
            <div class="m-5 tab-pane fade" id="documents" role="tabpanel">
                <img class="empty-folder-img img-fluid d-block mx-auto pb-5" src="{{url_for('static', filename='/images/empty-file.webp')}}" alt="Empty folder image">
            </div>
            {% else %}
            <div class="tab-pane fade" id="documents" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped table-hover bg-dark caption-top">
                        <caption>List of resources</caption>
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Filename</th>
                                <th scope="col">Size</th>
                                <th scope="col"></th>
                                <th scope="col">Document Course</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% for doc in doc_hits %}
                        <!---->
                        {% set file_format = get_file_format(doc.filename) %}
                        <tr>
                            <td>
                                {% if file_format == "pdf" %}
                                <i class="fa-solid fa-file-pdf fa-lg"></i>
                                <!---->
                                {% elif file_format == "doc" or file_format == "docx" or file_format == "rtf" or file_format == "odt" %}
                                <i class="fa-solid fa-file-word fa-lg"></i>
                                <!---->
                                {% elif file_format == "ppt" or file_format == "pptx" %}
                                <i class="fa-solid fa-file-powerpoint fa-lg"></i>
                                <!---->
                                {% else %}
                                <i class="fa-solid fa-file-lines fa-lg"></i>
                                <!---->
                                {% endif %}
                                <a class="link-downloader text-info ps-2" href="{{url_for('resource_bp.download_document', file_uuid=doc.uuid)}}">   {{doc.filename}}</a>
                            </td>
                            <td>
                                {{doc.file_size}} MB
                            </td>
                            <td>
                                <a class="btn btn-sm btn-secondary float-end" href="{{doc.download_link}}" target="_blank" rel="noopener noreferrer" title="Open in browser">
                                    <i class="fa-solid fa-up-right-from-square fa-xs"></i>
                                </a>
                            </td>
                            <td class="align-middle">
                                <a class="text-info" href="{{url_for('resource_bp.get_course', course_id=doc.course_id)}}" title="Document Course">{{doc.course.course_code}}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-success float-end downloader" value="{{doc.uuid}}"><i class="fa-solid fa-download"></i> Download</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <!--  -->
    {% endif %}
</div>
<script type="text/javascript">
    function decodeSpecialString(specialString) {
        const parser = new DOMParser();
        const decodedElement = parser.parseFromString(`<div>${specialString}</div>`, 'text/html');
        return decodedElement.documentElement.textContent;
    }

    const specialString = '{{search_query}}';
    const rawString = decodeSpecialString(specialString);

    let search_box = document.getElementById("search-box");
    search_box.value = rawString;
</script>
<script src="{{url_for('static', filename='assets/download-handler.js')}}"></script>
<!--  -->
{% endblock %}