{% extends '_layout.html' %}
<!--  -->
{% block title %}Sign Up{% endblock %}
<!--  -->
{% block body %}
<main class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-9 col-lg-6 bg-primary bg-gradient rounded m-auto">
            <h4 class="text-center text-light pt-3"><i class="fa-solid fa-user-plus"></i> Register</h4>
            <form action="{{url_for('auth_bp.register')}}" method="post" class="m-4 w-85" id="register-form">
                {{ form.csrf_token }}
                <div class="form-floating mb-3">
                    {{ form.username }}
                    <!--  -->
                    {{form.username.label}}
                    <!--  -->
                    {% for error in form.username.errors %}
                    <small class="form-text text-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.email }}
                    <!--  -->
                    {{form.email.label}}
                    <!--  -->
                    {% for error in form.email.errors %}
                    <small class="form-text text-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.password }}
                    <i class="fa-solid fa-lg fa-eye" id="eye-icon"></i>
                    <!--  -->
                    {{form.password.label}}
                    <!--  -->
                    {% for error in form.password.errors %}
                    <small class="form-text"><i class="fa-solid fa-circle-exclamation"></i> {{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>

                <div class="mb-2">
                    {{ form.confirm }}
                    <!--  -->
                    {% for error in form.confirm.errors %}
                    <small class="form-text">{{error}}</small>
                    <!--  -->
                    {% endfor %}
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                        <label class="form-check-label" for="gridCheck">
                            By signing up, you agree to our <a class="text-secondary" data-bs-toggle="offcanvas" href="#offcanvasPrivacy" role="button" aria-controls="offcanvasPrivacy">Terms of Privacy</a>
                        </label>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <button class="gsi-material-button mx-1 mt-3" type="submit" title="Sign up with Google" form="google-form">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                          <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                              <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                              <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                              <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                              <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                              <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                          </div>
                          <span class="gsi-material-button-contents">Sign up</span>
                          <span style="display: none;">Sign up with Google</span>
                        </div>
                      </button>
                    <button class="btn btn-lg btn-success mt-3 signup-btn" type="submit" disabled="disabled" onclick="var e=this;setTimeout(function(){e.disabled=true;},0);return true;" title="Sign up">
                        <i class="fa-solid fa-circle-user fa-flip" style="--fa-animation-duration: 5s;"></i> Sign Up
                    </button>
                </div>

            </form>
            <form method="post" action="{{url_for('auth_bp.oauth_login')}}" id="google-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
        </div>
    </div>

    <!-- TERMS OF PRIVACY OFFCANVAS -->
    <section class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasPrivacy" aria-labelledby="offcanvasPrivacyLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasPrivacyLabel">StashIT Terms of Privacy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="col-9">
                <h1 class="mt-5">Privacy Policy</h1>

                <p class="mt-4">StashIT ("we," "our," or "us") is committed to safeguarding the privacy and security of your personal information. This Privacy Policy outlines how we collect, use, and protect your data when you access our website or use our services.</p>

                <h2 class="mt-4">1. Information We Collect:</h2>

                <p>We may collect and store the following information for the sole purpose of providing our services and ensuring a secure user experience:</p>
                <ul>
                    <li><strong>Identity Information:</strong> To create and manage your account, we collect your email address and password. Your email address is used for account-related communications, such as password resets and account confirmation.</li>
                    <li><strong>User-Generated Content:</strong> Any content you generate on our platform, such as text and files, is stored for your use only. We do not access or use this content for any purposes.</li>
                </ul>

                <h2 class="mt-4">2. Data Usage and Retention:</h2>
                <p>We do not collect usage data, deploy tracking mechanisms, or save cookies. Your privacy is of utmost importance to us, and we respect your anonymity when you use our services.</p>

                <h2 class="mt-4">3. Data Security:</h2>
                <p>The security of your personal information is our priority. We employ industry-standard practices to ensure the protection of your email address and password. Please note that the security of your data is closely linked to the security
                    of our database. We take all necessary steps to secure our systems.</p>

                <h2 class="mt-4">4. Third-Party Disclosure:</h2>
                <p>We do not share your personal information with third parties. Your data is solely used for your interaction with our services.</p>

                <h2 class="mt-4">5. Changes to the Privacy Policy:</h2>
                <p>We may update this Privacy Policy to reflect changes in our practices or for legal compliance. We will inform you of any significant changes through email or by prominently posting a notice on our website.</p>

                <h2 class="mt-4">6. Contact Us:</h2>
                <p>If you have any questions or concerns about this Privacy Policy or your data, please contact us at
                    <a href="mailto:pelumioyeboade7@gmail.com"><i class="fa-solid fa-envelope"></i> @pelumioyeboade7</a></p>

                <p>By using our services, you agree to the terms outlined in this Privacy Policy. Your continued use of our services constitutes your acceptance of this policy.</p>
            </div>
        </div>
    </section>
</main>
<script src="{{url_for('static', filename='assets/auth-handler.js')}}"></script>
<script type="text/javascript">
    var form = document.getElementById("register-form");
    var inputs = document.querySelectorAll('input')
    var required_inputs = document.querySelectorAll('input[required]');
    var submitButton = document.querySelector('button.signup-btn')
    var checkBox = document.querySelector('input[type="checkbox"]');


    function validateForm() {
        var disabled = false
        required_inputs.forEach(function(input, index) {
            if (input.value === '' || !input.value.replace(/\s/g, '').length || !checkBox.checked) {
                disabled = true
            }
        })
        if (disabled) {
            submitButton.setAttribute('disabled', 'disabled')
        } else {
            submitButton.removeAttribute('disabled')
        }
    }

    checkBox.addEventListener("change", validateForm);
    form.addEventListener("keyup", validateForm);

    document.addEventListener("DOMContentLoaded", function() {
        var currentNavLinks = document.querySelectorAll('a.auth-nav');
        for (let navLink of currentNavLinks) {
            navLink.classList.add('active');
        }
    })
</script>

{% endblock %}