body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
}

table {
    width: 20%;
}

.body-text {
    font-family: 'Poppins', sans-serif;
}

.top-img {
    padding: 20px auto auto;
}

.brand-text {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
}

.nav-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.dropzone .dz-preview .dz-error-message {
    top: 35% !important;
}

.dropzone .dz-preview .dz-error-message:after {
    left: 12% !important;
}

.dropzone .dz-preview .dz-remove {
    margin-top: 4px;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    img.fold-img {
        display: none;
    }
    img.table-img {
        width: 30%;
    }
    div.col-lg-7.col-md-8.mt-2.col-sm-7 {
        padding-top: 3%;
    }
    div.bg-light.rounded-3 {
        margin: 5%;
    }
}

@media (max-width: 767px) {
    p.lh-sm {
        display: none;
    }
}