body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.top-img {
    padding: 20px auto auto;
}

@media (max-width: 575px) {
    img.img-fluid {
        display: none;
    }
    div.col-lg-7.col-md-8.mt-2.col-sm-7 {
        padding-top: 3%;
    }
    div.bg-light.rounded-3 {
        margin: 5%;
    }
}

.brand-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.nav-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}