<nav class="navbar navbar-dark navbar-expand-lg bg-dark border-bottom border-primary sticky-top">
    <div class="container-fluid mx-4 my-2">
        <a class="navbar-brand brand-text" href="{{url_for('home_bp.index')}}">CiStash <i class="fa-solid fa-folder-tree"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-4">
                <li class="nav-item px-3">
                    <a class="nav-link active nav-text" aria-current="page" href="{{url_for('home_bp.index')}}">Home</a>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle nav-text" href="#levels" role="button" data-bs-toggle="dropdown" aria-expanded="false">Levels</a>
                    <ul class="dropdown-menu">
                        {% for level in lvl_mapping.items() %}
                        <li><a class="dropdown-item" href="{{url_for('home_bp.level_page', level_id=level[1][0])}}">{{level[1]}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link nav-text" id="info-link" href="#" data-bs-toggle="modal" data-bs-target="#info-modal">Info</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item px-3">
                    <a class="nav-link nav-text" id="upload-nav" href="{{url_for('auth_bp.upload')}}">Upload</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link nav-text text-primary" href="{{url_for('auth_bp.logout')}}"><i class="fa-solid fa-right-from-bracket fa-xl fa-fade"></i></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalLabel">About Uploading</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if current_user.is_authenticated %}
            <!--  -->
            <div class="modal-body">
                <p class="text-light text-wrap">Only Upload course details that are verified and relevant course materials. Non compliant uploads will be deleted by the admin.
                </p>
            </div>
            {% else %}
            <!--  -->
            <div class="modal-body">
                <p class="text-light">Before now, the upload section was closed off to regular users, but now users can upload but MUST only upload course details that are verified and relevant course materials. Non compliant uploads will be deleted by the admin.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-6 text-center">
                            <form method="GET">
                                <button class="btn btn-lg btn-success" formaction="/auth/login"> Login <i class="fa-solid fa-right-to-bracket"></i></button>
                            </form>
                        </div>
                        <div class="col-6 text-center">
                            <form method="GET">
                                <button class="btn btn-lg btn-success" formaction="/auth/register"> Sign up <i class="fa-regular fa-user"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>