{% extends '_layout.html' %}
<!--  -->
{% block title %}Forbidden{% endblock %}
<!--  -->
{% block body %}

<div class="container p-5">
    <div class="row pt-3 mt-5">
        <div class="col-12 col-lg-4 col-md-4 left-pane">
            <img class="img-fluid mx-auto pb-5 err-img" src="{{url_for('static', filename='/images/error-403.webp')}}" alt="Error 403 image">
        </div>
        <div class="col-12 col-lg-8 col-md-8 right-pane">
            <h2 class="mb-3">Forbidden</h2>
            <p>
                Oops! Access Denied! You don't have permission to view this page. If you believe this is an error, please contact our support team for assistance. Thank you!
            </p>
        </div>
    </div>
</div>

{% endblock %}