 {% extends '_layout.html' %}
<!-- -->
{% block title %}{{course.course_code}} resources{% endblock %}
<!-- -->
{% block body %}
<main class="container pt-lg-4 pt-md-3 pt-sm-4 mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-5">
            <li class="breadcrumb-item"><a class="" href="{{url_for('home_bp.index')}}#levels">Levels</a></li>
            <li class="breadcrumb-item"><a class="" href="{{url_for('home_bp.level_page', level_id=course.level_id)}}">{{course.course_level.name.value}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{course.course_code}}</li>
        </ol>
    </nav>
    <!-- ADD FILE MODAL -->
    <div class="modal fade" id="add-file-modal" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" data-bs-config={backdrop:true}>
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa-solid fa-file-circle-plus fa-lg"></i> Add file for {{course.course_code}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="form m-4 w-85" enctype="multipart/form-data">
                        <input type="hidden" name="csrf-token" id="upload-token" value="{{csrf_token()}}">
                        <div class="p-auto">
                            <div class="mb-4 align-content-center">
                                <label for="course_code_dropdown" class="form-label">Course Code <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" title="If the course code is not in the list of options, add the course on other form"></i></label>
                                <select aria-label="Select course code" class="form-select" id="course_code_dropdown" disabled="disabled" name="course_code_dropdown">
                                        <option value="{{course.id_}}">{{course.course_code}}</option>
                                    </select>
                            </div>

                            <div class="mb-3 align-content-center bg-light dropzone" id="upload">
                                <div class="fallback">
                                    <input name="file" type="file" class="form-control" accept=".pdf, .doc, .docx, .odt, .rtf, .txt, .epub, .ppt, .pptx" />
                                </div>
                                <!-- DROPZONE -->
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-danger mt-2" id="upload-btn" type="submit" formaction="{{url_for('resource_bp.file_upload')}}"><i class="fa-solid fa-arrow-up-from-bracket"></i> Upload</button>
                            </div>
                            <input type="hidden" id="upload-url" value="{{url_for('resource_bp.file_upload')}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- SUCCESS MESSAGE MODAL -->
    <div class="modal fade" id="success-modal" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><i class="fa-solid fa-circle-check text-success"></i> Success</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="success-modal-text" class="fs-6"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #TODO: LOGIN MODAL Restructure Login view to JSON only resp -->
    {% if is_empty %}
    <div class="mx-5">
        <img class="empty-folder-img img-fluid d-block mx-auto pb-5" src="{{url_for('static', filename='/images/empty-folder.webp')}}" alt="Empty folder image">
        <h4>{{course.course_code}} does not have any document uploaded, do you want to upload some?</h4>
        {% if current_user.is_authenticated %}
        <a class="btn btn-info btn-lg text-left" data-bs-toggle="modal" data-bs-target="#add-file-modal">
            <i class="fa-regular fa-square-plus"></i> Add Docs
        </a>
        {% else %}
        <a class="btn btn-info btn-lg text-left" href="{{url_for('resource_bp.get_upload_page')}}">
            <i class="fa-regular fa-square-plus"></i> Add Docs
        </a>
        {% endif %}
    </div>
    <!--  -->
    {% else %}
    <!--  -->
    {% if current_user.is_authenticated %}
    <div class="text-center mb-2">
        <a title="Add new document" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#add-file-modal">
            <i class="fa-solid fa-file-circle-plus fa-lg"></i>
        </a>
    </div>
    <!--  -->
    {% endif %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover bg-dark caption-top">
            <caption>List of resources</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">Size</th>
                    <th scope="col" class="d-none d-lg-table-cell"></th>
                    <th scope="col"><i class="fa-solid fa-file-arrow-down fa-bounce float-end me-5" style="--fa-animation-duration: 2.5s;"></i></th>
                </tr>
            </thead>
            {% for doc in course_docs %}
            <!---->
            {% set file_format = get_file_format(doc.filename) %}
            <tr>
                <td>
                    {% if file_format == "pdf" %}
                    <i class="fa-solid fa-file-pdf fa-lg"></i>
                    <!---->
                    {% elif file_format == "doc" or file_format == "docx" or file_format == "rtf" or file_format == "odt" %}
                    <i class="fa-solid fa-file-word fa-lg"></i>
                    <!---->
                    {% elif file_format == "ppt" or file_format == "pptx" %}
                    <i class="fa-solid fa-file-powerpoint fa-lg"></i>
                    <!---->
                    {% else %}
                    <i class="fa-solid fa-file-lines fa-lg"></i>
                    <!---->
                    {% endif %}
                    <a class="link-downloader ps-2" href="{{url_for('resource_bp.download_document', file_uuid=doc.uuid)}}">   {{ truncate_filename(doc.filename) }}</a>
                </td>
                <td>
                    {{doc.file_size}} MB
                </td>
                <td class="d-none d-lg-table-cell">
                    <a class="btn btn-sm btn-secondary" href="{{doc.download_link}}" target="_blank" rel="noopener noreferrer" title="Open in browser">
                        <i class="fa-solid fa-up-right-from-square fa-xs"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-success float-end downloader" value="{{doc.uuid}}"> Download</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!--  -->
    {% endif %}
</main>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(e) {
        let cloudIconElement = document.querySelector("i.fa-cloud-arrow-up");
        if (cloudIconElement) {
            cloudIconElement.classList.add("text-primary");
        }

        var currentNavLinks = document.querySelectorAll('a.level-nav');
        for (let navLink of currentNavLinks) {
            navLink.classList.add('active');
        }

    })
</script>
<!-- 'form-handler' script is placed before 'download-handler' -->
<!-- 'construct_alert' func in both scripts exhibit different behaviours -->
<!-- 'download-handler js' func overwrites behaviour in  'form-handler' script because it is placed after -->
<script src="{{url_for('static', filename='assets/form-handler.js')}}"></script>
<script src="{{url_for('static', filename='assets/download-handler.js')}}"></script>
{% endblock %}